@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* div {
  font-family: "Noto sans KR" !important;
}

/* !important 전체적용 */
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */ */

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto sans KR', sans-serif, 'Roboto';
}